@media screen and (max-width: 1130px) {
  .inside {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 1095px) {
  .inside {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 1000px) {
  /*make flexbox for map and content in restaurant page*/
  .inside {
    font-size: 0.8em;
  }
  #restaurants-list li {
    max-width: 100%;
  }
  .inside {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .inside header {
    order: 0;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  header nav {
    order: 0;
  }
  header #breadcrumb {
    order: 1;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  .inside #map-container {
    top: 6.65em;
    position: relative;
    height: 20em;
    width: 100%;
  }

  .inside #restaurant-container {
    position: relative;
    width: 100%;
    padding: 7em 0 0 0;
    margin: auto;
    text-align: center;
  }

  .inside #reviews-container {
    width: 100%;
    padding: 0;
    margin: auto;
  }

  .inside #footer {
    width: 100%;
  }

  #reviews-list {
    width: 100%;
  }
  #reviews-list li {
    margin: auto;
  }

  #reviews-container h2 {
    text-align: center;
    margin: auto 0;
  }
  #restaurant-cuisine {
    margin: auto;
    padding: 0.5em 0;
  }
  #restaurant-hours {
    margin: auto;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1122px) {
  html {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 983px) {
  html {
    font-size: 1.6em;
  }
  #restaurants-list li {
    width: 100em;
  }
}
@media screen and (max-width: 806px) {
  nav {
    height: 3.5em;
  }
  nav h1 {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 750px) {
  .filter-options {
    height: 7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .filter-options h2 {
    order: 0;
    margin-bottom: 0.3em;
    font-weight: 200;
  }
  .filter-options select {
    margin-top: 0.1em;
    font-size: 1em;
    height: 2em;
    width: max-content;
    margin: 0.1em auto;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 630px) {
  html {
    font-size: 1em;
  }
}

@media screen and (max-width: 415px) {
  html {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 315px) {
  html {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 215px) {
  html {
    font-size: 0.2em;
  }
}
